.contenedordecontenedor{
    display: flex;
    justify-content: end;
    
    width: 100%;
    margin: auto
}
.btnsig{
    
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-evenly;
    background-color: rgb(33, 34, 34);
    
}
.btnsig1{
    margin-top: 10px;
    
    background-color: #fdfcfc;
    height: 50%;
    color:black
}
.contenedor{
    
    background-color: rgb(65, 64, 64);
    display: row;
    flex-direction: row;
    width: 80%;
    
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 12px solid #ffffff;
    margin-top:15px;    
}

.video{
    display: flex;
    justify-content: center;
    margin: auto;
    
}
.videomp4{
    width: 80%;
    height: 600px;
    margin-top: 20px;
}
.lorem{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    font-size: 25px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: auto;
}

.github{
    size: 50px;
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin: auto;
    margin-top: 10px;
    justify-content: space-around;
    width: 80%;
}

.ref{
    font-size: 50px;
}

.footer2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    margin-top: 20px;


}
.ref:hover{
    color: rgb(220, 190, 250)
}

.anterior{

}

.siguiente{
 
}
.siguiente:hover{
    color: white;
    
    
}

.anterior{
  
}
.anterior:hover{
    color: white;
    
    
}


button {
    font-size: 18px;
    color: #e1e1e1 !important;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none !important;
    text-transform: uppercase;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: color;
    transition-property: color;
  }
  
  button:focus,
  button:hover {
    color: #fff;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    background-color: none;
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: width, left;
    transition-property: width, left;
  }

  .arrowleft {
	position: absolute;
	top: 50%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
    left: 0;
	transform: translate3d(0,-50%,0) rotate(-135deg);
    margin-left: 80px;

}
	
	
    .arrowleft:hover {
		border-color: orange;
		box-shadow: 0.5vmin -0.5vmin 0 white;
	}
	
	.arrowleft:before { 
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
	}



.arrowright{
    position: absolute;
	top: 50%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid white;
	border-right: 1vmin solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
    margin-right: 80px;
    right: 0;
	transform: translate3d(0,-50%,0) rotate(45deg);

}
	
	
    .arrowright:hover {
		border-color: orange;
		box-shadow: 0.5vmin -0.5vmin 0 white;
	}
	
	.arrowright:before { 
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%,-60%) rotate(45deg);
		width: 200%;
		height: 200%;
}


@media screen and (max-width: 800px) {
  
    .contenedor{
        width: 95%;
        border: 2px solid #ffffff
    }
    .lorem{ 
        width: 90%;
        font-size: 25px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .videomp4{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 15px;
        height: auto;
        
    }
    
    .title{
        
        font-size: 60px;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .github{
        size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 80px;
        margin: auto;
        margin-top: 10px;
        justify-content: space-around;
        width: 80%;
    }
    .ref{
        margin: auto;
    }
    .mail{
        display: none;
    }
    .arrowright{
        display: none;
    }
    .arrowleft{
        display: none;
    }

}



@media screen and (max-width: 1200px) {
    .arrowright{
        margin-right: 20px;
    }
    .arrowleft{
        margin-left: 20px;
    }
}
